body {
    background-color: lightblue;
}

hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
    border: 1px solid #ccc; /* Warna dan gaya garis dapat disesuaikan */
  margin: 20px 0;
}

.ui.grid.container.equal.width {
    width: 100%; /* Membuat container penuh lebar */
  }
  
  /* Membuat garis horizontal penuh lebar */
  hr {
    border: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
  }
  
  .center {
    text-align: center;
  }
  .book-image {
    height: 250px !important; 
    /* width: 200px !important; */
}


/* .card{
  height: 100% !important; 
    width: 100% !important;
} */